body{
  font-family: 'Roboto', sans-serif;
}

.app {

}

.app__logo {
  animation: app__logoSpin infinite 20s linear;
  height: 80px;
}

.app__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes app__logoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
