.task {
    display: flex;
    margin-bottom: 15px;
}
.task:last-child {
    margin-bottom: 0;
}

.task__input {

}
.task__input > input {
    font-size: 16px;
    color: #323232;
}

.task__delete {

}

.task__delete > i {
    color: #A6A6A6;
}

.task__delete > i:hover {
    filter: brightness(70%);
}